<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Coffee Shop</title>
    <link th:href="@{/css/coffeeStyle.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Create Coffee Shop</h1>
    </div>
    <form action="/coffeeShops/create" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br><br>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone"><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <input class="button" type="submit" value="Create">
    </form>
</div>
</body>
</html>
