<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="content">
    <form method="POST" action="/login">
        <h2>Вход в систему</h2>
        <div class="content">
            <input name="username" type="text" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" placeholder="Password"/>
            <button class="submit-button" type="submit">Log In</button>
        </div>
    </form>
    <a href="/registration">регистрация</a>
</div>

</body>
</html>