<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Coffee Shop</title>
    <link th:href="@{/css/coffeeStyle.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Update Coffee Shop</h1>
    </div>
    <form th:action="@{/employee/update/{id}(id=${employee.getEmployeeId()})}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${employee.name}"><br><br>
        <label for="name">Name:</label>
        <input type="text" id="coffeeShop" name="coffeeShop" th:value="${employee.coffeeShop.getShopId()}"><br><br>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" th:value="${employee.position}"><br><br>
        <label for="hireDate">Hire Date:</label>
        <input type="date" id="hireDate" name="hireDate" th:value="${employee.hireDate}"><br><br>
        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" th:value="${employee.salary}"><br><br>
        <input class="button" type="submit" value="Update">
    </form>
</div>
</body>
</html>
