<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales</title>
    <link rel="stylesheet" th:href="@{/css/coffeeStyle.css}">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Sales</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Coffee Shop Id</th>
            <th>Employee Id</th>
            <th>Sale Date</th>
            <th>Total Amount</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.getSaleId()}">Id</td>
            <td th:text="${sale.coffeeShop.getShopId()}">Coffee Shop Id</td>
            <td th:text="${sale.employee.getEmployeeId()}">Employee Id</td>
            <td th:text="${sale.saleDate}">Sale Date</td>
            <td th:text="${sale.totalAmount}">Total Amount</td>
            <td>
                <a th:href="@{/sales/{id}(id=${sale.getSaleId()})}">View</a>
                <a th:href="@{/sales/delete/{id}(id=${sale.getSaleId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/sales/create}" class="button">Create New Sale</a>
</div>
</body>
</html>
